<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Image collection</title>
</head> 


<body>

	<h1>Welcome to the images collection</h1>
	
	<div th:if="${linkClicked}">
		<form th:action="@{/PasteCategory}" method="GET">
  			<ul>
    			<li th:each="category : ${allCategories}">
      				<span th:text="${category.id}"></span>
      				<span th:text="${category.name}"></span>
      				<span>
        				<a th:href="@{/PasteCategory(categoryId=${category.id})}">Copia qui</a>
      				</span> 
    			</li>
  			</ul>
		</form>
	</div>

	<div th:unless="${linkClicked}">
		<form th:action="@{/CopyCategory}" method="GET">
  			<ul>
    			<li th:each="category : ${allCategories}">
      				<span th:text="${category.id}"></span>
      				<span th:text="${category.name}"></span>
      				<span>
        				<a th:href="@{/CopyCategory(categoryId=${category.id})}">Copia</a>
      				</span> 
    			</li>
  			</ul>
		</form>
	</div>


	<div  class="formdiv">
		<p>Complete the form to create a product</p>
		<form action="#" th:action="@{/CreateCategory}" method="POST">
			<fieldset>
				
				<p>
					Name: <input type="text" name="name" required />
				</p>
					
				<label for="allCategories">
					Choose a father product:
				</label> 
				<select
					name="father" id="father">
					<option th:each="category : ${allCategories}" 
						th:value="${category.id}"
						th:text="${category.name}">
					</option>
				</select>
					
				<input type="submit" name="Create Category">
			</fieldset>
		</form>


		
	</div>
</body>
</html>
