<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1">
<title>Image collection</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head> 


<body>

	<h1>Welcome to the images collection</h1>
	

<form th:action="@{/CopyCategory}" method="get">
  <ul>
    <li th:each="category : ${allCategories}">
      <span th:text="${category.id}"></span>
      <span th:text="${category.name}"></span>
      <span>
        <button type="submit" name="categoryId" th:value="${category.id}">Copia</button>
      </span> 
    </li>
  </ul>
</form>



 	
	<div  class="formdiv">
		<p>Complete the form to create a product</p>
		<form action="#" th:action="@{/CreateCategory}" method="POST">
			<fieldset>
				
				<p>
					Name: <input type="text" name="name" required />
				</p>
					
				<label for="allCategories">
					Choose a father product:
				</label> 
				<select
					name="father" id="father">
					<option th:each="category : ${allCategories}" 
						th:value="${category.id}"
						th:text="${category.name}">
					</option>
				</select>
					
				<input type="submit" name="Create Category">
			</fieldset>
		</form>


		
	</div>
</body>
</html>
