<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Images collection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<h1>Welcome to the images collection</h1>
<h2>Select a topic to see its messages</h2>
<table border="1">
	<thead>
		<tr><th>Topic Name</th></tr>
	</thead>
	<tbody th:remove="all-but-first">
		<tr th:each="topic : ${topics}" th:class="${topicStat.even}? 'even'">
			<td th:text="${topic.name}">Onions</td>
		</tr>
		<tr class="even"><td>Blue Lettuce</td></tr>
		<tr><td>Mild Cinnamon</td></tr>
		<tr class="even"><td>Apples</td></tr>
		<tr><td>Oranges</td></tr>
	</tbody>
</table>
</body>
</html>
